/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 40px; /* Margin bottom by footer height */    
  }

  .navbar-brand-img {
    margin: 10px 25px 0px 10px;
  }

  .bg-green{
    background-color: #34B233;    
  }

  .content {
    min-height: 78vh;
  }

  .textarea {
    min-width: 100%
  }
  
  .footer {
    height: 30px; /* Set the fixed height of the footer here */    
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer > div {
    margin-top: 5px;
  }
  
  /* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- 
  
  .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 7px 0;
  }
  
  .navbar-brand {
    padding: 0px;
  }
  
  .navbar-brand>img {
    height: 100%;
    width: auto;
  }
  
  .navbar-text {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      padding-top: 10px;
  }
*/
